
<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title">New Listing</h1>
	</div>
</div>

<div class="page-container">

	<div class="container-fluid">
		<div class="buttons">
			<button type="button" class="btn btn-light"> 
				<%= link_to "NEW Brand", profiles_stockist_brand_new_path %> 
			</button>
			<button type="button" class="btn btn-light"> 
				<%= link_to "NEW Listing", new_listing_path %> 
			</button>
		</div>
	</div>

	<section class ="stockist_existing_brands">
		<h3 class="">Current Brands</h3></br>
		<p>* ADD an existing Brand to your Inventory below or create a NEW Brand above.</p></br>
		<div class="existing_brands_list">
			<ul class="list-group list-group-flush"> 
				<% current_user.stockist.brands.each do |sb|%>
					<li class="list-group-item list-group-item-light"><%= "#{sb.brand}" %></li>
				<%end%>
			</ul>
		</div></br>
	</section>


	<article class="form-container">
		<%= simple_form_for(@stockist_brand, as: :brand, method: :post, url: add_brand_to_stockist_path) do |f| %>
			<%= f.error_notification %>
			<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

		<div class="form-inputs"> 
			<%= f.input :brand, collection: @brands, label_method: :brand, label: "Brand" ,include_blank: false %>
		</div>

		<div>
			<%= f.button :submit, 'Add Brand', class: 'btn btn-light' %>
		</div></br>
		<%end%>
	</article>

</div>


	
