<h1> <%= "#{current_user.stockist.business_name.capitalize}" %></h1>


<ul>
	<% displayed_listing = [] %>
	<% @listing.each do |listing| %>
		<% if listing.stockist_id == current_user.id %>
			<% listing.sizes.each do |size| %>
				<% unless displayed_listing.include?(listing.id) %>
					<li><%= listing.stockist.business_name %> | <%= stockist.addresses.first.suburb%></li>
					<li><%= link_to listing.name, listing %> </li>
					<li>Min: <%= number_to_currency(size.price)%></li>
					<% displayed_listing << listing.id %>
				<% end %>
			<% end %>
		<%end%>
	<% end %>
</ul>
