<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title"><%= "#{current_user.stockist.business_name.capitalize}" %></h1>
	</div>
</div>

<div class="page-container">
	<div class="profile-info">
		<div class="stockist-address">
			<h5> <%= "#{@address.stockist_address}" %>
		</div>
		<div class="container-fluid">
			<div class="buttons">
				
				<button type="button" class="btn btn-light"> 
					<%= link_to "Beans Brands", profiles_stockist_brand_path %> 
				</button>
				
				<button type="button" class="btn btn-light"> 
						<%= link_to "Reservations", reservations_path %> 
				</button>
				
				<button type="button" class="btn btn-light"> 
						<%= link_to "Edit Profile", profiles_stockist_edit_path %> 
				</button>
			</div>
		</div>
	</div>

	<h3>All Listings</h3>
	<%= render 'shared/display_all_listings'%>
</div>
