<h1> <%= "#{current_user.stockist.business_name.capitalize}" %></h1>

<div class="container-fluid">
	<div class="buttons">
		<%# if current_user.stockist.stockist_brands.include?(current_user.stockist.id) %>
		<button type="button" class="btn btn-light"> 
			<%= link_to "Beans Brands", profiles_stockist_brand_path %> 
		</button>
				<%# else %>
		<%#end%>
		<button type="button" class="btn btn-light"> 
				<%= link_to "Reservations", edit_user_registration_path %> 
		</button>
		<button type="button" class="btn btn-light"> 
				<%= link_to "Edit Profile", profiles_stockist_edit_path %> 
		</button>
	</div>
</div>

<ul>
	<% displayed_listing = [] %>
	<% @listing.each do |listing| %>
		<% if listing.stockist_id == current_user.id %>
			<% listing.sizes.each do |size| %>
				<% unless displayed_listing.include?(listing.id) %>
					<li><%= listing.stockist.business_name %> | <%= stockist.addresses.first.suburb%></li>
					<li><%= link_to listing.name, listing %> </li>
					<li>Min: <%= number_to_currency(size.price)%></li>
					<% displayed_listing << listing.id %>
				<% end %>
			<% end %>
		<%end%>
	<% end %>
</ul>
