<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title"><%= "#{current_user.first_name} Profile" %></h1>
	</div>
</div>

<div class="page-container">
	<h5><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></h5>

	<div class="container-fluid">
		<div class="buttons">
			<% if current_user.stockist.present? %>
				<button type="button" class="btn btn-light"> 
					<%= link_to "Stockist Profile", profiles_stockist_path %> 
				</button>
					<% else %>
				<button type="button" class="btn btn-light"> 
					<%= link_to "Become Stockist", profiles_stockist_new_path %> 
				</button>
			<%end%>
			<button type="button" class="btn btn-light"> 
					<%= link_to "Edit Profile", edit_user_registration_path %> 
			</button>
		</div>
	</div>

	<article class="show-listing-container">
		<h3>Reservations</h3>
		<div>
			<ul>
				<% @reservations.reverse.each do |r| %>
						<li><%= link_to "#{r.created_at}   |   Reservation:  #R#{r.id}  |   #{r.size.listing.brand.brand}  |  #{r.size.listing.name}  |  #{number_to_currency(r.size.price)}", r %></li>
				<% end %>
			</ul>
		</div>
</article>
</div>

