<article class="show-listing-container">
<div class="card mb-3 border-0" style="max-width: 540px; background-color: #FFFBF8;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
				<h3 class="card-title title"><%= @listing.name %></h3>
        <ul class="card-text">
					<li class="brand"><h5><%= @listing.brand.brand %></h5></li>
					<li>Origin: <%= @listing.origin %></li>
					<li>Type: <%= @listing.bean_type %></li>
					<li>Flavour Profile: <%= @listing.flavour_profile %></li>
          <article>
            <%= simple_form_for @listing, as: :reservation, method: :post, url: create_reservation_path, 
              wrapper: :floating_labels_form do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <li><%=f.collection_select :grind_ids, @grinds, :id, :bean_grind do |b|%></li>
              <% end %>

              <li><%=f.collection_select :size_ids, @sizes, :id, :size_price do |b|%></li>
              <% end %>
                
              <div>
                <%= f.button :submit, 'Reserve', class: 'btn btn-light' %>
              </div>
            <% end %>
          </article>
        </ul>
      </div>
    </div>
  </div>
</div>
</article>

<article class="stockist-details">
  <div>

  </div>
</article>
