<h1><%= @listing.name %></h1>
<ul>
<li>Brand: <%= @listing.brand.brand %></li>
<li>Origin: <%= @listing.origin %></li>
<li>Type: <%= @listing.bean_type %></li>
<li>Flavour Profile: <%= @listing.flavour_profile %></li>
</ul>

