<article class="form-container">
  <%= simple_form_for(@listing, as: :listing, method: method, url: url) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%=f.collection_select :brand_id, current_user.stockist.brands, :id, :brand do |b|%>
      
    <%end%>
    </br></br>

    <%= f.input :name %>
    <%= f.input :origin %>
    <%= f.input :flavour_profile, as: :text %>
    <%= f.input :description, as: :text %>
    <%= f.input :bean_type, as: :radio_buttons, collection: ['Single Origin', 'Mix Blend', 'Decaf'], wrapper: :vertical_collection_inline, class: 'custom-control-input' %>
    <%= f.input :roast %>

    <%=f.collection_check_boxes :grind_ids, @grinds, :id, :bean_grind do |b|%>
      <%=b.label(class: 'form-check-label')%>
      <%=b.check_box(class:'form-check-line mr-2')%>
    <%end%>
    </br></br>
    <%= f.simple_fields_for :sizes do |size_form| %>
      <%= size_form.input :size %>
      <%= size_form.input :price %>
      <%= size_form.input :active, as: :radio_buttons, wrapper: :vertical_collection_inline%>
    <% end %>
  </div>

  <div>
    <%= f.button :submit, 'Save', class: 'btn btn-light' %>
  </div>
  <% end %>
</article>