<nav>
	<%= link_to "Home", root_path %>
	<%= "Available Beans"%>
	<% if user_signed_in? %>
	<span class="firstname"> <%= link_to "#{current_user.first_name}", profiles_user_path %> </span>
	<%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
	<% else %>
	<%= link_to "Sign In", new_user_session_path %>
	<%end%>
</nav>