<!DOCTYPE html>
<html>
  <head>
    <title>Localbeans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maxium-scale=1, user-scalable=0">
    <style>
      .form-control:focus{box-color: #AEFFB6; border-color: #AEFFB6; -webkit-box-shadow: none;} 
      .has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}
    </style>
  </head>

  <body>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render "shared/navbar"%>
    </div>
    <%= yield %>
  </body>
</html>
